[submodule "benchmarks/third-party/x-sat"]
	path = benchmarks/third-party/x-sat
	url = https://github.com/shaowei-cai-group/X-SAT.git
[submodule "benchmarks/third-party/aiger"]
	path = benchmarks/third-party/aiger
	url = https://github.com/arminbiere/aiger.git
